* {
    box-sizing: border-box;
}

body {

}

header {
    text-align: center;
}

nav {
    width:20%;
    float: left;

}

main {
    width:80%;
    float: left;
}

nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #c1c1c1;
}

.site-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

footer {
    clear: both;
    text-align: center;
    padding: 10px;
}